<div class="w3-responsive">
    <table class="w3-table-all">
        <tr class="w3-blue">
            <th>No</th>
            <th>Nama</th>
            <th>Hutang</th>
            <th>Bayar</th>
            <th></th>
        </tr>
        {{range $m, $n := .}}
            <tr>
                <td>{{inc $m}}</td>
                <td>{{$n.Nama}}</td>
                <!-- {{if istimezero $n.TanggalJagaHutang}}
                    <td><input type="date" name="" id="tambah-tanggal-hutang-jaga" data-link="{{$n.Link}}" placeholder="Tanggal bayar jaga..." onselect="ubahTanggalHutangJaga.call(this)"></td>
                {{else}}
                    <td>{{convstrjaga $n.JagaHutang}} - {{strtgl $n.TanggalJagaHutang}}</td>
                {{end}} -->
                <td>{{convstrjaga $n.JagaHutang}} - {{strtgl $n.TanggalJagaHutang}}</td>
                {{if istimezero $n.TanggalJagaBayar}}
                    <td><input type="date" name="" id="tambah-tanggal-bayar-jaga" data-link="{{$n.Link}}" placeholder="Tanggal bayar jaga..." onselect="ubahTanggalBayarJaga.call(this)"></td>
                {{else}}
                    <td>{{convstrjaga $n.JagaBayar}} - {{strtgl $n.TanggalJagaBayar}}</td>
                {{end}}
                <td>
                    
                        {{if istimezero $n.TanggalJagaBayar}}
                            <button class="w3-button" type="submit" id="hapus-hutang-jaga" data-link={{$n.Link}} onclick="preHapusDataTukarJaga.call(this)">Hapus</button>
                            <!-- <option value="3">Tambah Tanggal Bayar</option> -->
                        {{else}}
                        <select name="" id="status-data-jaga" class="w3-select w3-round w3-light-blue" data-link={{$n.Link}} onchange="editDataJaga.call(this)">
                            <option value="" selected disabled>Pilih status...</option>
                            <option value="1">Lunas</option>
                            <option value="2">Lunas Sebagian</option>
                            <option value="3">Ubah Tanggal Bayar</option>
                        </select>
                        {{end}}
                </td>
                <!-- <td><button type="submit" id="hapus-tukar-jaga" data-link={{$n.Link}}>Hapus</button></td> -->
            </tr>
        {{end}}
    </table>
</div>